/* .eventbanner__container {
	border: 2px solid #ccc;
	background-color: #222;
	border-radius: 5px;
	padding: 16px;
	margin: 16px 0;
	color: white;
}

.eventbanner__image {
	width: 90px;
	float: left;
	margin-right: 20px;
	border-radius: 50%;
}

.eventbanner__title {
	font-size: 20px;
	margin-right: 15px;
} */
.container {
	position: relative;
}

/* Bottom right text */
.text-block {
	position: absolute;
	bottom: 40px;
	right: 40px;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	width: 80%;
	padding: 0 30px;
}
