.container {
  align-items: center;
  justify-content: center;
  width: 607px;
    height: 354px;
    top: 830px;
    left: 701px;
}
h5{
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 36px;
    line-height: 54px;
    margin-bottom: 20px;
    top: 830px;
    left: 706px;
}
h6{
  font-size: 36;
  font-family: poppins;
  background: linear-gradient(273.93deg, #B96DF4 -4.6%, #DE84DA 38%, rgba(155, 153, 254, 0.9) 66.19%, #5BBBD9 115.69%);
}
p{
  font-family: Poppins;
font-size: 18px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
width: 570px;
height: 224px;
top: 960px;
left: 709px;
opacity: 0.699999988079071px;
background: #FFFFFF;

}
.img{
  width: 434px;
  height: 392px;
  top: 784px;
  left: 146px;
  
}