/* Desktop Specific Styles */

.main-container {
  background-color: black; 
  border: 0px none;
  height: 572px;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.event-section {
  height: 532px;
  left: 0;
  position: relative;
  top: 0;
  width: 1226px;
}

.event-content {
  height: 415px;
  left: 90px;
  position: absolute;
  top: 61px;
  width: 436px;
}

.event-heading {
  color: rgb(255, 255, 255);
  font-family: "Poppins", Helvetica;
  font-size: 24px;
  font-weight: 1rem;
  left: 8px;
  letter-spacing: 0.72px;
  line-height: 33.7px;
  opacity: 0.7; 
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.popular-section {
  display: inline-block;
  justify-content: center;
  padding-top: 55px;
  font-size: 2.3rem;
}

.popular-text {
  color: white;
  font-weight: bold;
}

.event-heading-special {
  background: linear-gradient(
      45deg,
      #c1baff,
      #00f7ff, 
      #7cacff,
      #9a5aed  
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
}

.event-description {
  color: white;
  font-family: "Poppins", Helvetica;
  font-size: 18px;
  font-weight: 2rem;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.7;
  position: absolute;
  top: 137px;
  width: 383px;
}

.bottom-text {
  -webkit-background-clip: text !important;
  background: linear-gradient(
    45deg,
    #c1baff,
    #00f7ff, 
    #7cacff,
    #9a5aed  
  );
  background-clip: text;
  color: transparent;
  font-family: "Poppins", Helvetica;
  font-size: 24px;
  font-weight: 3rem;
  left: 0;
  letter-spacing: 0.72px;
  line-height: normal;
  position: absolute;
  top: 290px;
  width: 428px;
}

.event-image {
  height: 440px;
  left: 505px;
  position: absolute;
  top: 40px;
  width: 689px;
}

/***********************************************************************************************/
/* Mobile Specific Styles */
@media (max-width: 425px) {
  .main-container {
    background-color: black; 
    border: 0px none;
    height: 540px;
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .event-section {
    display:inline-block;
    height: 532px;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
  }
  
  .event-content {
    height: 415px;
    left: 25px;
    position: absolute;
    top: 61px;
    width: 100%;
  }
  
  .event-heading {
    color: rgb(255, 255, 255);
    font-family: "Poppins", Helvetica;
    font-size: 20px;
    font-weight: 1rem;
    left: 4px;
    letter-spacing: 0.72px;
    line-height: 33.7px;
    opacity: 0.7; 
    position: absolute;
    top: 0;
    white-space: nowrap;
  }

  .popular-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    font-size: 1.5rem;
  }

  .popular-text {
    color: white;
    font-weight: bold;
  }
  
  .event-heading-special {
    background: linear-gradient(
        45deg,
        #c1baff,
        #00f7ff, 
        #7cacff,
        #9a5aed  
      );
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      font-weight: bold;
      padding-left: 10px;
  }
  .chlid {
    flex: 1;
  }

  .event-description {
    color: white;
    font-family: "Poppins", Helvetica;
    font-size: 15px;
    font-weight: 2rem;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    opacity: 0.7;
    position: absolute;
    top: 70px;
    width: 250px;
    text-align: justify;
  }
  
  .bottom-text {
    -webkit-background-clip: text !important;
    background: linear-gradient(
      45deg,
      #c1baff,
      #00f7ff, 
      #7cacff,
      #9a5aed  
    );
    background-clip: text;
    color: transparent;
    font-family: "Poppins", Helvetica;
    font-size: 15px;
    font-weight: 3rem;
    left: 0;
    letter-spacing: 0.72px;
    line-height: normal;
    position: absolute;
    top: 250px;
    width: 250px;
    text-align: justify;
  }

  .event-image {
    height: 140px;
    left: 25px;
    position: absolute;
    top: 400px;
    width: 250px;
  }
}